@import '~bulma/bulma.sass';


#root{
  background-color: #381e1c ;
}
.primary{
background-color: #27ae9e;
}
.secondary{
background-color: #244f62;
}
.trim{
  background-color: #b4bcd4;
}
.background{
  background-color: #381e1c ;
}
.nav{
  height: auto;
  width:50%;
  margin:auto;
}

.homeIMG{
  background-size: cover;
  height: 100%;
  width: 100%;
}
.padding{
  padding:0;
}


.teamIMG{
  height: 300px !important; 
  width: 300px !important;
  margin: auto;
}
.teamCard{
  height: 100%;
  flex-grow: 1;
}
.cardMargin{
  margin: 10px;
  flex-grow: inherit;
}
